.DS_Store

.idea
.vscode

__pycache__
*.pyc

test/.pytest_cache

data/out

logs
checkpoints

demo.py

otherUtils.py
module/Transformer_offical.py

# pretrain model: chinese_wwm
pretrained/chinese_wwm/config.json
pretrained/chinese_wwm/pytorch_model.bin
pretrained/chinese_wwm/vocab.txt
